extends layout

block content
	div.login(class=(username)?"hide":"")
		p The best way to manage your tasks
		p Never forget the cow (or anything else) again
		p Login now to manage your to-do list	
		form#frmLogin(name=userDetails)
			fieldset 
				legend Login
				label Username
				input#username(name="userDetails.name",placeholder="username",required)
				label Password
				input#password(name="userDetails.password",placeholder="password",required, type="password")
				br
				button#btnLogin Login
				br
				span.hide.error Invalid username/password
	div.tasks(class=(username)?"":"hide")
		h1 
			span.name= username
			| 's to-do list
		if list.length > 0
			ul
				for item in list
					li=item.item
			span.nothing.hide
				| Nothing in your list
		else	
			ul
			span.nothing
				| Nothing in your list
		br
		input#toDo(placeHolder="to do", required)
		button#btnAdd(type="button") Add
		br
		button#btnLogout(type="button") Logout