/*
    @author: Harsimran Singh Maan
    @date: August 07,2013
    @version:0.1
*/
//Set global params
@fontSize: 14pt;
@barBackColor: #005AB4;
@fontColor: @barBackColor;
@barTextColor: #fff;
@fontFamily: Arial, Helvetica, sans-serif;
@errorColor: #ff6a00;

body {
    padding: 0;
    margin: 0;
    font-size: @fontSize;
    font-family: @fontFamily;
    color: @fontColor;
}

img {
    border: none;
}

.wrapper {
    width: 80%;
    border: 0.2em @barBackColor solid;
    margin: 1em auto;
    border-radius: 1em;
    overflow: hidden;
}

header, footer {
    padding: 0.5em;
    color: @barTextColor;
    background-color: @barBackColor;
}

    header img {
        margin-right: 1em;
        float: left;
    }

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

q:lang(en) {
    /*Quotation marks*/
    quotes: "�" "�" "'" "'";
}

footer section {
    margin-top: 0.5em;
}

.main {
    padding: 2em;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    color: @fontColor;
    border-radius: 0.4em;
    padding: 0.1em 0.4em;
    margin-bottom: 0.5em;
    margin-right: 0.2em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.hide {
    display: none;
}

.error {
    color: @errorColor;
}

.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 0.4em;
    line-height: 14px;
    vertical-align: middle;
    background-image: url("./../images/glyphicons-halflings.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

ul {
    list-style: none;
}

.delete {
    background-position: -312px 0;
}

.done {
    background-position: -288px 0;
}

.disabled {
    opacity: 0.4;
}

.nothing {
    margin-bottom: 0.2em;
}
